<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Alojá</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <!-- Favicons -->
  <link href="../static/img/favicon.png"th:href="@{/img/favicon.png}" rel="icon">
  <link href="../static/img/apple-touch-icon.png" th:href="@{/img/apple-touch-icon.png}"rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">

  <!-- Libraries CSS Files -->
  <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
  <link href="../static/animate/animate.min.css" rel="stylesheet"   th:href="@{/animate/animate.min.css}">
  <link href="../static/ionicons/css/ionicons.min.css" rel="stylesheet"   th:href="@{/ionicons/css/ionicons.min.css}">
  <link href="../static/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet"   th:href="@{/owlcarousel/assets/owl.carousel.min.css}">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="../static/css/estilos.css" th:href="@{/css/estilos.css}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
	<div th:include ="layout/navbar.html" th:remove="tag"> </div>
	<div class="bg-image vamos" style=" height:800px ;background-image: url(img/slide-2.jpg)"><br><br><br>
	<div class="login-form" >
 		<br>
     	<div class="text">  
			LOGIN
		</div>
		<form  th:action="@{/login}" method="post">
			<div th:if="${param.error}">
    			<div class="alert alert-danger"> Invalid username or passorwd</div>
    		</div>
    		<div th:if="${param.Logout}">
    			<div class="alert alert-info">You have been logged out.</div>
    		</div>  
        	<div class="field">
          		<div class="fas fa-envelope">
				</div>	
				<input type="text" class="form-control" id="username" name="username" placeholder="Enter Email ID" autofocus="autofocus">
        	</div>
			<div class="field">
          		<div class="fas fa-lock">
				</div>
				<input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" />
        	</div>
        	<button>Iniciar con google</button>
        	
        	<button id="login-submit" name="login-submit">Ingresar</button>
			
		</form>
		<div class="form-group">
    		<span> New user? <a href="/" th:href="@{/registration}">Register here</a> </span>
    	</div>
	</div>
	</div>


	
	
  <!--/ footer Star /-->

  <div th:include ="layout/footer.html" th:remove="tag"> </div>

  <!--/ Footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="../static/jquery/jquery.min.js"  th:src="@{/jquery/jquery.min.js}"></script>
  <script src="../static/jquery/jquery-migrate.min.js"  th:src="@{/jquery/jquery-migrate.min.js}"></script>
  <script src="../static/popper/popper.min.js"  th:src="@{/popper/popper.min.js}"></script>
  <script src="../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  <script src="../static/easing/easing.min.js"  th:src="@{/easing/easing.min.js}"></script>
  <script src="../static/owlcarousel/owl.carousel.min.js"  th:src="@{/owlcarousel/owl.carousel.min.js}"></script>
  <script src="../static/scrollreveal/scrollreveal.min.js"  th:src="@{/scrollreveal/scrollreveal.min.js}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../static/contactform/contactform.js" th:src="@{/contactform/contactform.js}"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>
</html>